@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: linear-gradient(45deg, #A2EDFE, #D299FF);
}

a {
	text-decoration: none;
	color: #fff;
}

.cf {
	font-weight: bold;
	font-family: 'Nunito';
}

.blur-filter {
	filter: blur(8px);
}

.header {
	display: flex;
	align-items: center;
	background: rgb(112, 111, 194, .3);
	width: 100%;
	height: 7vh;
	user-select: none;
}

.btn-header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6vh;
	height: 6vh;
	margin-left: 0.5vw;
	background: rgb(255, 255, 255, .3);
	border-radius: 12px;
}

.btn-header-column {
	margin-top: 10px;
}

.btn-header svg {
	color: #fff;
	width: 50%;
	height: auto;
}

.logo-header {
	display: flex;
	margin: 0 auto;
	color: #fff;
	font-size: calc(1vw + 1.5rem);
}

.header img {
	width: 6vh;
	height: 6vh;
	margin: 0 0.5vw;
	border-radius: 50%;
}

.container {
	display: flex;
	justify-content: space-between;
}

.header-column {
	display: flex;
	flex-direction: column;
	width: calc(7vh + 0.5vw);
	min-height: 93vh;
	background: rgb(96, 95, 223, .3);
}

.page {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 93vh;
	user-select: none;
}

.head-page {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 7vh;
}

.name-desk {
	display: flex;
	margin-left: 2vh;
	overflow: hidden;
	color: #fff;
	font-size: calc(0.5vw + 1rem);
}

.table-people {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-people {
	display: flex;
	width: 40px;
	height: 40px;
	margin-left: -16px;
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 50%;
}

.img-people:hover {
	z-index: 10;
}

.icon-count {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	background: rgb(255, 255, 255);
}

.content-page {
	display: flex;
	width: 100%;
	height: 100%;
}

.column-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: calc(100% / 3);
}

.head-column-page {
	width: 60%;
	text-align: center;
	overflow: hidden;
	margin-bottom: 2vh;
	border: 2px solid #fff;
	border-radius: 20px;
	font-size: calc(1vw + 0.5rem);
}

.remove-task {
	color: #d31d29;
	background: transparent;
	outline: none;
	border: 0;
	font-size: 16px;
	text-shadow: 0px 1px 6px #ff0011;
	padding-top: 0px;
}

.block-task {
	display: flex;
	flex-direction: column;
	width: calc(100vw / 5);
	height: auto;
	margin: 0 1vh 1vh 0;
	padding: 0.5rem 1rem;
	border-radius: 20px;
	font-family: 'Nunito';
	box-shadow: rgba(50, 50, 93, 0.2) 0px 8px 24px;
}

.deadline-task {
	animation: glowing 3s infinite;
}

@keyframes glowing {
	0% {box-shadow: rgba(50, 50, 93, 0.2) 0px 8px 24px;}
	50% {box-shadow: rgba(50, 50, 93, 0.2) 0px 8px 24px;}
	70% {box-shadow: rgba(255, 0, 0, 0.2) 0px 2px 16px 0px, rgba(255, 0, 0, 0.4) 0px 2px 64px 0px;}
	100% {box-shadow: rgba(50, 50, 93, 0.2) 0px 8px 24px;}
}


.head-block {
	text-align: center;
	font-size: calc(0.5vw + 1rem);
}

.body-block {
	margin: 10px 0;
	text-align: justify;
	font-size: calc(0.5vw + 0.5rem);
	word-wrap: break-word;
}

.bottom-block {
	display: flex;
	justify-content: space-between;
	font-size: calc(0.5vw + 0.5rem);
}

.ModalWindow {
	display: none;
	flex-direction: column;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #eee;
	border-radius: 20px;
}

.ModalWindow:target {
	display: flex;
	position: fixed;
	justify-content: space-between;
	padding: 1vh 2vh;
	z-index: 60;
}

.modal-head {
	display: flex;
	justify-content: space-between;
	font-size: calc(0.5vw + 1rem);
}

.modal-center {
	display: flex;
	flex-direction: column;
	margin: 1vh;
	flex-direction: column;
	align-items: center;
}

input, textarea.desc {
	width: 200px;
	height: 35px;
	padding: 8px 10px;
	margin: 5px 0;
	outline: none;
	border: 1px solid #000;
	font: 16px 'Nunito';
	border-radius: 20px;
}

textarea.desc { height: 80px; resize: none; }

a.add-task {
	width: 2vh;
	height: 2vh;
	margin-left: 0.5vw;
}

a.close {
	color: #000;
	font-size: calc(0.5vw + 1rem);
	margin-left: 0.5vw;
	transform: rotate(45deg);
}

button.saveData {
	margin-top: 1vh;
	color: #000;
	outline: none;
	border: 0;
	font-size: calc(0.5vw + 1rem);
	text-align: center;
}